* {
  box-sizing: border-box;
}

body {
  background-image: url(./assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-position-y: -140px;
  background-color: hsl(275, 100%, 97%);
  font-family: "Work Sans", sans-serif;
}

.container {
  padding: 0 1rem;
}

h1 {
  margin: 0.5rem;
}

.faqFormat {
  max-width: 500px;
  width: 100%;
  background-color: white;
  padding: 2rem;
  margin: 3rem auto 0;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(154, 153, 153);
}

.title {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 25px;
}

.question {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  transition: all 0.5s;
}

.question h3 {
  font-size: 1rem;
  font-weight: 500;
}

.button {
  background: url("./assets/images/icon-plus.svg") no-repeat center;
  /* width: 25px; /*25pxより小さくしたい場合はどうすればいい*/
  flex: 0 0 25px; /*幅よりもこれを使用する方が良いです*/
  height: 25px;
  border: none;
}

.button:hover {
  opacity: 0.2;
}

.visible {
  /* 背景色が透明になる */
  background-image: url("./assets/images/icon-minus.svg");
}

.qa {
  border-top: solid hsl(275, 100%, 97%) 1px;
  padding: 0.5rem;
}

.no-border {
  /*一つ目の要素だけ変更したい*/
  border: none;
}

.answer {
  display: none;
}

.show {
  display: block;
  color: hsl(292, 16%, 49%);
  margin: 15px 0;
}

.show2 {
  transition: all 1s ease-out;
}
